body, html {
    height: 100%;
    background-color: #DFDFDF;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("https://i.imgur.com/p3D7wTR.jpg");

  /* Set a specific height */
  height: 93%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: center;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: Black;
}
.carousel-inner > .item > img {
  width: 100%;
  height: 400px;
  display: block;
}
.carousel {
  width:600px;
  height:502px;
}
.toys {
}
.descriptopn {
}

.container-fluid{
  background-color: #DFDFDF;
}

.d-list {
  float: left;
  margin: auto;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 5%;
  font-size: 16px;
}
#Owneres {
  text-align: center;
}
#tyso {

}
/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #503B3B;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #FF914D;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
.tyos {
  height: 420px;
  max-width: 850px;
  padding-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.paragraph {
  margin-left: 20px;
  margin-right: 20px;
}
}
.contentWrapper {
	width: 750px;
	padding: 20 20px;
	margin: 0 auto;
	position: relative;
}
#signUp {
	margin-top: 10px;
	padding: 0 20px 15px 20px;
	border: 3px solid #bbb;
  border-style: solid;
}
#signUp legend {
	font-size: 2em;
	font-weight: 200;
	padding: 0 .2em;
}
#signUp label {
	display: block;
	padding-top: 1em;
}
#signUp label:first-of-type {
	margin-top: -.9em;
}
#nameLabel {
	margin-top: -1em;
}
#submit, #clearCookie {
	display: block;
	font-size: 1em;
	color: #FFF;
	text-transform: uppercase;
	background: #A05720;
	padding: .8em 1em .7em;
	border: 0;
	border-bottom: 3px solid #503B3B;
	margin-top: 15px;
}
.textfield {
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	padding: 7px;
	background: #efefef;
	border: 1px solid #bbb;
	width: 97%;
}
.textfield:focus {
	background: bisque;
}
h1 {
  text-align: center;
}
fieldset {
  background-color: #FF914D;
}
.form {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 1%;
}
.social {
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
}
.twitter {
  background-color: #1DA1F2;
  border-color: #1DA1F2;
  color: white;
}
.snapchat {
  background-color: #FFFC00;
  border-color: #FFFC00;
  color: black;
}
.facebook {
  background-color: #3B5998;
  border-color:	#3B5998;
  color: white;
}
.instagram {
  background-color: white;
  border-color: white;
  color: black;
}

.accordian-header{
  font-size: 30px;
  background-color: #503B3B;
  color: white;
}

.accordionPanelContent{
  font-size: 16px;
}

.our-story{
  border-radius: 0px 0px 6px 6px;
}

.quality{
  border-radius: 6px 6px 0px 0px;
}
.orang:hover {
  background-color: #A05720;
}

.accordionPanelTab {
  color: #FF914D;
}
.accordionPanelTab:hover {
  color: #b5641d;
  cursor: pointer
}

#boat-img {
  max-width: 600px;
  max-height: 600px;
}
